.ed {
    svg{
       color: green !important;
       cursor: pointer;
       font-size: 20px;
   }
 }

 .de {
    svg{
        color: red !important;
        cursor: pointer;
        font-size: 20px;
    }
  }
  
  
  .vi {
    svg{
        color: gray !important;
        cursor: pointer;
        font-size: 20px;
    }
   }

   .ss {
    svg{
      color: orange !important;
      cursor: pointer;
      font-size: 20px;
   }
  }
  .ec {
    svg{
      color: #7467ef !important;
       cursor: pointer;
       font-size: 20px;
   }
 }

 .rf{
  svg{
    color: red !important;
     cursor: pointer;
     font-size: 20px;
 }
 }

 .ad{
  svg{
    color: black !important;
     cursor: pointer;
     font-size: 20px;
 }
 }

 .cancel{
  background-color: orange !important;
 }
 .Resfuse{
  background-color: red !important;
 }
 .Submit {
  background-color: #7467ef !important;
 }