.MuiBox-root{
    .btn-save{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        margin: 20px 0 30px 0;
        font-size: 20px;
   }
   
}
.css-zddlty-MuiButtonBase-root-MuiButton-root {
    font-weight: 600 !important;
}