.container{
    overflow: auto;
    .all{
        height: 70%;
        display: block;
        margin: auto;
        margin: 10px 0;
        width: 620px;
        
       .width{
        width: 600px;
       }
    }
}