.Modal-container{
    .container{
        overflow: auto;
        .height{
            height: 70%;
            display: block;
            margin: 10px auto auto auto;
            width: 920px;
            
           .width{
            width: 900px;
           }
        }
    }
   
   
}

