.container{
    overflow: auto;
    .height{
        height: 70%;
        display: block;
        margin: auto;
        width: 920px;
        margin: 10px 0;
        
       .width{
        width: 900px;
       }
    }
}