.spacing{
    margin-top: 11px !important;
    width: 1000px;
}
.fontWeight {
    font-weight: bold !important;
}
.spacing-input{
    margin-top: 1px !important;
}
.spacing-reason{
    margin-top: 10px !important;
}
.mt{
    margin-top: 5px !important;
}